.btn {
  border-radius: 0;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 1.125rem 1.25rem;
  text-transform: capitalize;
  color: $dark-blue;
  transition: color 0.3s ease-in-out;
  height: auto;

  &:hover {
    color: $primary;
  }

  &.btn-secondary,
  &.btn-primary {
    color: $white;
  }
}

.btn.btn-white {
  background: $white;
  color: $med-blue;

  &:hover {
    background: $gray-200;
    color: $med-blue;
  }

  &.dark {
    color: $dark-blue;

    &:hover {
      color: $dark-blue;
    }
  }
}
