.swiper-slide {
  transition: opacity 0.3s ease-in-out;
  &:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
    opacity: 0.4;
  }
}

.swiper-overflow {
  .swiper-container {
    overflow: initial;
  }
}
