.testimoney-block {
  .no-gutters {
    .row {
      @include media-breakpoint-down(md) {
        @include make-container();
      }
    }
  }

  .content {
    p {
      font-size: 1.75rem !important;
      line-height: 1.25em !important;
      font-weight: 700 !important;
    }
  }
}
