// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
$font-family-sans-serif: 'Raleway', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default; //
// Color system
//
$primary: #dc1c2e;
$secondary: #003da5;
$light-blue: #edf4fa;
$med-blue: #4076aa;
$dark-blue: #182947;
$success: #20af48;

// section padding
$section-spacing: 6.25rem;
