// custom child theme styles go here
@import 'components/_col_text_button_col_img';
@import 'components/_buttons';
@import 'components/_cta_block';
@import 'components/_page_header';
@import 'components/_slider';
@import 'components/_header';
@import 'components/_footer';

body {
  color: $dark-blue;

  .site::after {
    content: '';
    width: 100%;
    height: 100%;
    background: $dark-blue;
    opacity: 0;
    left: 0;
    top: 0;
    position: fixed;
    pointer-events: none;
    z-index: 8;
    transition: opacity 0.3s ease-in-out;
  }

  &.menu-open {
    overflow: hidden;
    .site::after {
      opacity: 0.3;
    }
  }
}

h1,
h2,
h3,
h4 {
  color: $med-blue;
}

a {
  transition: all 0.3s ease-in-out;
}

.text-white {
  p,
  h1,
  h2,
  h3,
  h4,
  a {
    color: $white;
  }

  a:hover {
    color: $gray-300;
  }
}

.row,
section {
  --section-spacing: #{$section-spacing};

  @media (max-width: 768px) {
    --section-spacing: #{$section-spacing * 0.5};
  }

  &.light-blue-bg {
    background: $light-blue;
  }

  &.med-blue-bg {
    background: $med-blue;
  }

  &.dark-blue-bg {
    background: $dark-blue;
  }

  &.bg-image {
    background-size: cover;
    background-position: center;
  }
}

.section-padding-top {
  padding-top: var(--section-spacing);
}

.section-padding-bottom {
  padding-bottom: var(--section-spacing);
}

.section-margin-top {
  margin-top: var(--section-spacing);
}

.section-margin-bottom {
  margin-bottom: var(--section-spacing);
}

.social-media {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

  li {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      background: $white;
      color: $med-blue;
      text-decoration: none;
      &:hover {
        color: $dark-blue;
      }
    }
  }
}
